templates/logicapp-inventory.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "subscriptionId": {
      "type": "string",
      "metadata": {
        "description": "The Azure subscription ID where resources will be deployed"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "The name of the resource group where the Logic App will be deployed"
      }
    },
    "logicAppName": {
      "type": "string",
      "metadata": {
        "description": "The name of the Logic App workflow"
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "eastasia",
      "metadata": {
        "description": "The Azure region where the Logic App will be deployed"
      }
    },
    "entraAppSecretPrefix": {
      "type": "string",
      "defaultValue": "demo-",
      "metadata": {
        "description": "Prefix to filter Entra applications (e.g., 'demo-', 'prod-')"
      }
    },
    "expirationThresholdDays": {
      "type": "int",
      "defaultValue": 30,
      "metadata": {
        "description": "Number of days before secret expiration to send alert"
      }
    },
    "entraAzureAdTenantId": {
      "type": "string",
      "metadata": {
        "description": "Azure AD Tenant ID (Directory ID) for Microsoft Graph API authentication"
      }
    },
    "entraApplicationClientId": {
      "type": "string",
      "metadata": {
        "description": "Entra Application (Client) ID for Microsoft Graph API authentication"
      }
    },
    "entraApplicationClientSecret": {
      "type": "securestring",
      "metadata": {
        "description": "Entra Application Client Secret for Microsoft Graph API authentication"
      }
    },
    "logAnalyticsWorkspaceName": {
      "type": "string",
      "metadata": {
        "description": "The name of the Log Analytics Workspace where the Logic App will send data"
      }
    },
    "logAnalyticsResourceGroup": {
      "type": "string",
      "metadata": {
        "description": "The resource group name where the Log Analytics Workspace is located"
      }
    },
    "dataCollectionRuleName": {
      "type": "string",
      "metadata": {
        "description": "The name of the Data Collection Rule for sending data to Log Analytics"
      }
    },
    "dataCollectionEndpointUri": {
      "type": "string",
      "metadata": {
        "description": "The full URI of the Data Collection Endpoint for ingesting data"
      }
    },
    "customTableStreamName": {
      "type": "string",
      "defaultValue": "Custom-EntraAppSecrets_CL",
      "metadata": {
        "description": "The name of the custom data stream in Log Analytics"
      }
    },
    "scheduleTimeZone": {
      "type": "string",
      "defaultValue": "E. South America Standard Time",
      "metadata": {
        "description": "Time zone for the scheduled recurrence trigger"
      }
    },
    "scheduleHour": {
      "type": "int",
      "defaultValue": 2,
      "minValue": 0,
      "maxValue": 23,
      "metadata": {
        "description": "Hour of day (0-23) to run the Logic App (in the specified timezone)"
      }
    },
    "scheduleMinute": {
      "type": "int",
      "defaultValue": 0,
      "minValue": 0,
      "maxValue": 59,
      "metadata": {
        "description": "Minute of the hour (0-59) to run the Logic App"
      }
    }
  },
  "variables": {
    "dcrIngestUri": "[concat(parameters('dataCollectionEndpointUri'), '/dataCollectionRules/', parameters('dataCollectionRuleName'), '/streams/', parameters('customTableStreamName'), '?api-version=2023-01-01')]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('logicAppLocation')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "interval": 1,
                "frequency": "Day",
                "timeZone": "[parameters('scheduleTimeZone')]",
                "schedule": {
                  "hours": [
                    "[parameters('scheduleHour')]"
                  ],
                  "minutes": [
                    "[parameters('scheduleMinute')]"
                  ]
                }
              },
              "evaluatedRecurrence": {
                "interval": 1,
                "frequency": "Day",
                "timeZone": "[parameters('scheduleTimeZone')]",
                "schedule": {
                  "hours": [
                    "[parameters('scheduleHour')]"
                  ],
                  "minutes": [
                    "[parameters('scheduleMinute')]"
                  ]
                }
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Initialize_variables": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "prefix",
                    "type": "string",
                    "value": "[parameters('entraAppSecretPrefix')]"
                  },
                  {
                    "name": "thresholdDays",
                    "type": "integer",
                    "value": "[parameters('expirationThresholdDays')]"
                  },
                  {
                    "name": "tenantId",
                    "type": "string",
                    "value": "[parameters('entraAzureAdTenantId')]"
                  },
                  {
                    "name": "clientId",
                    "type": "string",
                    "value": "[parameters('entraApplicationClientId')]"
                  },
                  {
                    "name": "clientSecret",
                    "type": "string",
                    "value": "[parameters('entraApplicationClientSecret')]"
                  },
                  {
                    "name": "expiringItems",
                    "type": "array"
                  }
                ]
              }
            },
            "HTTP_Servidores": {
              "runAfter": {
                "Initialize_variables": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://graph.microsoft.com/v1.0/applications?$select=id,appId,displayName,passwordCredentials&$filter=startswith(displayName,'@{variables('prefix')}')&$count=true",
                "method": "GET",
                "headers": {
                  "Accept": "application/json",
                  "ConsistencyLevel": "eventual"
                },
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "authority": "https://login.microsoftonline.com",
                  "tenant": "@{variables('tenantId')}",
                  "audience": "https://graph.microsoft.com",
                  "clientId": "@{variables('clientId')}",
                  "secret": "@{variables('clientSecret')}"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_JSON_Servidores": {
              "runAfter": {
                "HTTP_Servidores": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_Servidores')",
                "schema": {
                  "value": [
                    {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "appId": "00000000-0000-0000-0000-000000000000",
                      "displayName": "demo-expiring-app-001",
                      "passwordCredentials": [
                        {
                          "displayName": "secret-1",
                          "keyId": "00000000-0000-0000-0000-000000000000",
                          "startDateTime": "2026-01-01T00:00:00Z",
                          "endDateTime": "2026-06-01T00:00:00Z"
                        }
                      ]
                    }
                  ]
                }
              }
            },
            "For_each": {
              "foreach": "@body('Parse_JSON_Servidores')?['value']",
              "actions": {
                "For_each_1": {
                  "foreach": "@items('For_each')?['passwordCredentials']",
                  "actions": {
                    "Compose": {
                      "type": "Compose",
                      "inputs": {
                        "ApplicationName": "@{items('For_each')?['displayName']}",
                        "SecretName": "@{items('For_each_1')?['displayName']}",
                        "SecretExpirationDate": "@{items('For_each_1')?['endDateTime']}"
                      }
                    },
                    "HTTP": {
                      "runAfter": {
                        "Compose": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "uri": "[variables('dcrIngestUri')]",
                        "method": "POST",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": [
                          "@outputs('Compose')"
                        ],
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://monitor.azure.com"
                        }
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    }
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Parse_JSON_Servidores": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {}
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]",
      "metadata": {
        "description": "The resource ID of the deployed Logic App"
      }
    },
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]",
      "metadata": {
        "description": "The name of the deployed Logic App"
      }
    }
  }
}
